/* Codice portfolio star con framework Bootstrap */

* {
  font-family: sans-serif;
}

header, footer {
  width: auto;
  overflow-x: hidden;
}

/*classi utility */

.bg-dark {
  background-color: rgb(44, 62, 80);
}

.green {
  background-color: rgb(26, 188, 156);
  color: white !important;
  margin-top: 100px !important;
}

.py-40{
  padding-top: 40px;
  padding-bottom: 40px;
}

.text-center{
  text-align: center;
}

.star-icon {
  line-height: 4px;
  vertical-align: middle;
  font-size: 30px;
}

.star-wrap {
  text-align: center;
}

.star-wrap::before, .star-wrap::after  {
  content: "";
  display: inline-block;
  width: 100px;
  height: 4px;
  line-height: 4px;
  vertical-align: middle;
  background-color: white;
}

h3 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}

/* end classi utility */


/* navbar blu */

.navbar {
  min-height:80px !important;
}

.custom_navbar {
  margin: 0;
  border: 0;
  padding-bottom: 20px;
}

.navbar-nav > li > a, .custom_brand { /*testi navbar */
  color: white !important;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top:30px !important;
  padding-bottom:30px !important;
}

.navbar-nav > li > a:hover {
  color: rgb(26, 188, 156) !important;
}

.custom_brand { /* start bootstrap */
  font-size: 28px !important;
}

/* end navbar blu  */


/* header green */

.green img {
  width: 20%;
  margin-bottom: 20px;
}

.green p {
  font-size: 20px;
  margin: 0;
}

/* end header green */


/* main */

/* section portfolio */

.h{
  height: 300px;
}

.pic {
  width: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

#portfolio .star-wrap::before, #portfolio .star-wrap::after {
  background-color: rgb(44, 62, 80);
}

#portfolio .star-icon {
  color: rgb(44, 62, 80);
}

/* end section portfolio */


/* section about */

#about {
  color: white;
  padding-top: 30px;
  background-color: rgb(26, 188, 156);
}

.container-sm {
  max-width: 650px;
  margin: auto;
}

#about p {
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 1.5em;
}

.custom_button {
  color: white;
  background-color: rgb(26, 188, 156);
  border: 2px solid white;
  border-radius: 10px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 80px;
  transform: translateX(150%);
}

.glyphicon-save {
  color: white;
}

/* end section about */


/* section contact_me */

.custom_text {
  border: 0;
}

#contact_me {
  margin-top: 50px;
}

#contact_me h3 {
  color: rgb(44, 62, 80);
}

.form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

.form_custom {
  padding: 30px 30px 30px 0;
  color: rgb(44, 62, 80);
  font-size: 20px;
}

.message {
  padding-bottom: 120px;
}

.star-wrap {
  padding-bottom: 20px;
}

#contact_me .star-wrap::before, #contact_me .star-wrap::after {
  background-color: rgb(44, 62, 80);
}

#contact_me .star-icon {
  color: rgb(44, 62, 80);
}

.custom_send {
  border-radius: 10px !important;
  background-color: rgb(26, 188, 156) !important;
  color: white !important;
  margin: 20px 0 30px 0;
  padding: 15px;
}

/* end main */


/* footer */

.first_footer {
  color: white;
  padding: 40px;
}

.titolo {
  font-size: 24px;
  font-weight: bold;
}

.testo {
  font-size: 18px;
}

footer p a {
  color: rgb(26, 188, 156);
}

.web_media a {
  color: white;
  padding-left: 15px;
  font-size: 20px;
}

.web_media a:hover {
  color: black;
  background-color: white;
}


.last_footer p {
  background-color: rgb(26, 37, 47);
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}


/* end footer */
