/* Codice portfolio star con framework Bootstrap */

* {
  font-family: sans-serif;
}

.navbar {
  color: white;
  font-size: 18px;
}

.bg-dark {
  background-color: rgb(44, 62, 80);
}

.row .nav-item {   /* h3 */
  color: white;
  float: left;
  margin-left: 400px;
  font-weight: bold;
}

.nav-link a { /*lista di altre voci navbar */
  text-decoration: none;
  color: white;
}

ul {
  display: inline;
  margin-right: 200px;
}

ul > li {
  list-style-type: none;
  padding: 20px;
  float: right;
}


/* end navbar blu  */

/* header green */

.green {
  background-color: rgb(26, 188, 156);
  text-align: center;
  color: white;
}

h3 {
  font-size: 48px;
  font-weight: bold;
}

.padding-top-lg {
  padding-top: 25px;
}

.margin-bottom-lg {
  margin-bottom: 25px;
}

.margin-top-lg {
  margin-top: 10px;
}

/* end header green */


/* section portfolio */

.portfolio, .about, .contact_me {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* end section portfolio */

.portfolio .row > img {
  width: 20%;
}

/* section about */

.about {
  color: white;
  background-color: rgb(26, 188, 156);
  padding-top: 30px;
}

.about p {
  color: white;
  background-color: rgb(26, 188, 156);
  text-align: left;
  padding-top: 20px;
}

.button {
  color: white;
  background-color: rgb(26, 188, 156);
  border: 1px solid white;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}


/* end section about */


/* section contact me */

.contact_me > .container > .row {
  text-align: left;
  line-height: 2.5em;
  vertical-align: middle;
  border-bottom: 1px solid grey;
}

#send {
  border-top: 1px solid grey;
  border-radius: 5px;
  background-color: rgb(26, 188, 156);
  color: white;
  padding: 3px 5px;
}

.no_border {
  border-style: none;
}

/* end section contact me */


/* footer */

/* first footer */

.first_footer {
  background-color: rgb(58, 84, 109);
  color: white;
  padding: 20px;
}


/* last footer */

.last_footer p {
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}
